  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
html,
body,
#root {
  background:#f8f8ff;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color:#3A393A;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.mts {
  margin-top: 0.75rem;
}

.error {
  font-size: 0.875rem;
  text-align: center;
  color: #ff6a7c;
  margin-top: 1rem;
}

